<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wi-Fi Networks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container fluid>
                    <v-row justify="center">

                        <v-col cols="12" md="12" class="pb-0">

                            <v-card class="wifi-interfaces" outlined>
                            
                                <v-card-text class="pa-2">
                                    <v-row>
                                        <v-col cols="2" style="text-align: center;">
                                            <v-icon style="font-size: 430%">mdi-expansion-card-variant</v-icon>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-select 
                                                @input="interfaceSwitch"
                                                :value="wifiInterfaceActive"
                                                :items="wifiInterfaces" 
                                                item-text="name"
                                                item-value="wifiInterfaceActive"
                                                label="Interface"
                                                density="compact"></v-select>
                                        </v-col>
                                        <v-col cols="3">
                                            <v-text-field 
                                                name="status" 
                                                readonly="readonly"
                                                variant="underlined" 
                                                :prepend-icon="wifiInterfaceActiveIcon"
                                                :value="wifiInterfaceActive.up ? 'Ativo' : 'Inativo'"></v-text-field>
                                        </v-col>
                                        <v-col cols="3" style="align-content: center;">
                                            <v-btn height="45" v-if="wifiInterfaceActive.up">
                                                <v-icon>mdi-refresh</v-icon>
                                            </v-btn>
                                            <v-btn height="45" v-else>
                                                <v-icon>mdi-rocket</v-icon>
                                            </v-btn>
                                            <v-btn height="45">
                                                <v-icon>mdi-stop-circle-outline</v-icon>
                                            </v-btn>
                                            <v-btn height="45">
                                                <v-icon>mdi-cogs</v-icon>
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            
                            </v-card>
                        </v-col>

                        
                        <v-col cols="12" class="pb-0 pt-0 mt-2 mb-0">
                            
                            <v-card class="connected-network pa-1 pb-0" 
                                    outlined
                                    v-if="wifiConnectionActive.ssid">
                                
                                <v-card-text>

                                    <v-row>
                                        
                                        <v-col cols="10">

                                            <v-icon size="small" class="mr-3 ml-3">mdi-wifi-strength-4</v-icon>{{ wifiConnectionActive.ssid }}
                                                                                
                                            <span class="ml-4" style="display: inline-block; width: 75%">
                                                <v-progress-linear height="10" 
                                                        :value="wifiConnectionActive.quality"
                                                        :color="getSignalColor(wifiConnectionActive.quality)" 
                                                        class="mt-2"></v-progress-linear>
                                            </span>

                                            <div class="mt-5">
                                                <span>
                                                    <strong>Channel: </strong>:
                                                    {{ wifiConnectionActive.channel }}
                                                </span>
                                                <span class="ml-4">
                                                    <strong>Frequency: </strong>:
                                                    {{ wifiConnectionActive.frequency }}
                                                </span>
                                                <span class="ml-4">
                                                    <strong>Security</strong>:
                                                    {{ wifiConnectionActive.security || '(Public)' }}
                                                </span>
                                                <span class="ml-4">
                                                    <strong>Mac</strong>:
                                                    {{ wifiConnectionActive.mac }}
                                                </span>
                                                <span class="ml-4">
                                                    <b>IPv4</b>:
                                                    {{ wifiInterfaceActive.ip || "0.0.0.0" }}
                                                </span>
                                            </div>

                                        </v-col>

                                        <v-col style="align-content: space-around; font-size: 145% !important">

                                            <v-btn style="min-width: 40px; height: 45px !important">
                                                <v-icon style="font-size: 170% !important;" @click="getConnectionQrcode">mdi-qrcode</v-icon>
                                            </v-btn>

                                            <v-btn style="min-width: 40px; height: 45px !important">
                                                <v-icon style="font-size: 170% !important;" @click="getConnectionPassword">mdi-safe</v-icon>
                                            </v-btn>  
                                        </v-col>

                                    </v-row>

                                </v-card-text>
                                
                                <v-card-actions class="pt-0 pb-0 mb-0 mt-0">

                                    <v-row>

                                        <v-col cols="4">
                                            <v-btn :block="true" @click="connectToWifi(wifiConnectionActive)">
                                                <v-icon size="small" class="mr-2">mdi-wifi-refresh</v-icon>
                                                Reconnect
                                            </v-btn>
                                        </v-col>
                                        
                                        <v-col cols="4">
                                            <v-btn :block="true" @click="disconnectFromWifi">
                                                <v-icon size="small" class="mr-2">mdi-wifi-off</v-icon>
                                                Disconnect
                                            </v-btn>
                                        </v-col>

                                        <v-col cols="4">
                                            <v-btn :block="true" @click="setupCurrentWifi">
                                                <v-icon size="small" class="mr-2">mdi-cogs</v-icon>
                                                Settings
                                            </v-btn>
                                        </v-col>
                                    
                                    </v-row>

                                </v-card-actions>

                            </v-card>

                            <v-card class="connected-network pa-12 pb-0" outlined v-else>
                                <v-icon>mdi-alert-circle</v-icon>
                                <small>There is no active connections on this interface.</small>
                            </v-card>
                            
                        </v-col>

                        <v-col cols="12" md="12" class="mt-0 pt-2">

                            <v-card class="network-list" outlined v-if="wifiNetworks.length > 0">

                                <v-toolbar height="6" color="primary" title="User Profile"></v-toolbar>

                                <v-row>

                                    <v-col cols="2">
                                        <v-tabs v-model="currentTab" color="primary" vertical>
                                            <v-tab v-for="(tab, index) in tabs" :key="index" :value="tab.value" style="text-align: left !important; justify-content: left; font-size: x-small;" prepend-icon="mdi-account">
                                                {{ tab.text }}
                                            </v-tab>
                                        </v-tabs>
                                    </v-col>

                                    <v-col cols="10" class="pl-0">
                                        <v-card-text class="pl-0">
                                            <v-list>    
                                                
                                                <v-list-item 
                                                    class="ma-2 mr-3 ml-3 mb-3 wifi-list-item"
                                                    v-for="(network, index) in wifiNetworks"
                                                    :key="`${network.mac}-${index}`" 
                                                    v-show="network.ssid">

                                                    <v-row>

                                                        <v-col cols="4" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                                            <v-icon size="small" class="mr-2">mdi-wifi-strength-4</v-icon>
                                                            <div style="display: inline-block; margin-right: 10px;">{{ network.ssid }}</div>
                                                            <v-progress-linear 
                                                                height="10" 
                                                                style="display: inline-block;"
                                                                :value="network.quality"
                                                                :color="getSignalColor(network.quality)" 
                                                                class="mt-2"></v-progress-linear>
                                                        </v-col>

                                                        <v-col cols="5"
                                                                 style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
                                                            <strong class="ml-2">Channel: </strong>
                                                            {{ network.channel }}
                                                            <strong class="ml-2">Frequency: </strong>
                                                            {{ network.frequency }}
                                                            <v-icon class="ml-2" style="font-size: smaller;">mdi-lock</v-icon>
                                                            {{ network.security || '(Public)' }}
                                                        </v-col>
                                                        
                                                        <v-col cols="3" 
                                                                style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                                                <v-icon class="ml-2" style="font-size: smaller;">mdi-ethernet</v-icon>
                                                                {{ network.mac }}
                                                        </v-col>
                                                        
                                                    </v-row>

                                                    <v-list-item-action>
                                                        <v-row>
                                                            <v-col class="pr-0">
                                                                <v-btn style="padding: 3px; min-width: 36px !important;" height="36" @click="connectToWifi(network)">
                                                                    <v-icon size="small">mdi-connection</v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                            <v-col>
                                                                <v-btn style="padding: 3px; min-width: 36px !important;" height="36" @click="viewWifiNetwork(network)">
                                                                    <v-icon size="small">mdi-cogs</v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-list-item-action>
                                                </v-list-item>

                                            </v-list>
                                        </v-card-text>
                                    </v-col>
                                    
                                </v-row>
                            </v-card>

                            <v-card class="network-list pa-12" outlined v-else>
                                <v-card-title>
                                    <v-icon size="small" class="mr-2">mdi-alert-circle</v-icon>
                                    No Wi-Fi Networks Available
                                </v-card-title>
                                <v-card-subtitle>
                                    This interface is probably non-managed (down). 
                                </v-card-subtitle>
                                <v-card-actions>
                                    <v-btn :block="true">
                                        <v-icon size="small" class="mr-2">mdi-rocket</v-icon>
                                        Launch interface
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="lib/js/vue.js"></script>
    <script src="lib/js/vuetify.js"></script>
    <script src="api/utils.js"></script>
    
    <script>

        const { ipcRenderer, ipcMain } = require('electron');

        const env = process.env,
              nodeEnv = env.NODE_ENV || 'development';

        Vue.config.devtools = nodeEnv === 'development' ? true : false;

        new Vue({
            
            el: '#app',
            
            vuetify: new Vuetify({
                theme: { dark: TransformStreamDefaultController }
            }),

            data: {
                tabs: [
                    { text: 'Redes', value: 'Redes' },  
                    { text: 'Conexões', value: 'knownWifis' },
                    { text: 'Configurações', value: 'settings' }
                ],
                currentTab: 'bashboard',
                wifiNetworkActive: {},
                wifiConnectionActive: {},
                wifiInterfaceActive: {},
                wifiInterfaces: [],
                wifiConnections: [],
                wifiNetworksKnown: [],
                wifiNetworks: []
            },

            computed: {

                wifiInterfaceActiveIcon () {
                
                    if (!this.wifiInterfaceActive.up) {
                        return 'mdi-wifi-cancel';
                    }

                    if (this.wifiInterfaceActive.up && this.wifiInterfaceActive.ip) {
                        return 'mdi-lan-connect';
                    }

                    if (this.wifiInterfaceActive.up) {
                        return 'mdi-wifi-check';
                    }
                }
            },
            
            mounted () {

                ipcRenderer.on('wifi-interfaces', (event, wifiInterfaces) => {
                    this.wifiInterfaces = wifiInterfaces.list;
                    this.wifiInterfaceActive = wifiInterfaces.active;
                    console.log('this.wifiInterfaces', this.wifiInterfaces);
                    console.log('this.wifiInterfaceActive', this.wifiInterfaceActive)
                });

                ipcRenderer.on('wifi-connections', (event, wifiConnections) => {
                    this.wifiConnections = wifiConnections
                    this.wifiConnectionActive = wifiConnections[0] || {};
                    console.log('this.wifiConnections', this.wifiConnections);
                    console.log('this.wifiConnectionActive', this.wifiConnectionActive)
                });

                ipcRenderer.on('wifi-networks', (event, wifiNetworks) => {
                    this.wifiNetworks = wifiNetworks.filter(network => !network.connected);
                    this.wifiNetworkActive = wifiNetworks.find(network => network.connected);
                    console.log('this.wifiNetworks', this.wifiNetworks);
                    console.log('this.wifiNetworkActive', this.wifiNetworkActive)
                });

                ipcRenderer.on('wifi-networks-known', (event, wifiNetworksKnown) => {
                    this.wifiNetworksKnown = wifiNetworksKnown;
                    console.log('this.wifiNetworksKnown', this.wifiNetworksKnown)
                });
            },

            methods: {

                interfaceSwitch (event) {
                    ipcRenderer.send('wifi-action', 'load', this.wifiInterfaces.find(ifc => ifc.name === event))
                }, 

                getSignalColor(signal) {
                    
                    if (signal > 75) return 'green';
                    if (signal > 50) return 'yellow';
                    if (signal > 25) return 'orange';

                    return 'red';
                },

                connectToWifi(network) {
                    ipcRenderer.send('wifi-action', 'connect', network);
                },

                disconnectFromWifi() {
                    ipcRenderer.send('wifi-action', 'disconnect', this.wifiConnectionActive);
                },

                setupCurrentWifi() {
                    ipcRenderer.send('wifi-action', 'setup', this.wifiConnectionActive);
                },

                getConnectionQrcode () {
                    ipcRenderer.send('wifi-action', 'qrcode', this.wifiConnectionActive);
                },

                getConnectionPassword () {
                    ipcRenderer.send('wifi-action', 'password', this.wifiConnectionActive);
                }
            }

        });
        
    </script>

    <script src="api/setupSystemBackground.js"></script>

</body>

</html>
